@charset "utf-8";
*{word-wrap:break-word;}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0;}
ul,ol,dl{list-style-type:none;}
html,body{*position:static;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button{overflow:visible;vertical-align:middle;outline:none;}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"\5B8B\4F53";font-size:12px;color:#333;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;}
body{line-height:1.6;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a,area{outline:none;blr:expression(this.onFocus=this.blur());}
a{text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline;outline:none;}
a.ie6:hover{zoom:1;}
a:focus{outline:none;}
a:hover,a:active{outline:none;}:focus{outline:none;}
sub,sup{vertical-align:baseline;}
img{border:0;vertical-align:middle;}
a img,img{-ms-interpolation-mode:bicubic;}
.img-responsive{max-width:100%;height:auto;}
html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this));}

/*HTML5*/
header,footer,section,aside,details,menu,article,section,nav,address,hgroup,figure,figcaption,legend{display:block;margin:0;padding:0;}time{display:inline;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
legend{width:100%;margin-bottom:20px;font-size:21px;line-height:40px;border:0;border-bottom:1px solid #e5e5e5;}
legend small{font-size:15px;color:#999;}
svg:not(:root) {overflow:hidden;}
fieldset {border-width:0;padding:0.35em 0.625em 0.75em;margin:0 2px;border:1px solid #c0c0c0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height:auto;}
input[type="search"] {-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}

.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.cl,.clearfix{zoom:1;}



.row{ box-sizing:border-box;}
[class^="col-"],[class*=" col-"]{box-sizing:border-box;float:left;min-height:1px;position:relative;}
.col-0{width:0;display:none;}
.col-1{width:8.33333%;}
.col-2{width:16.66667%;}
.col-3{width:25%;}
.col-4{width:33.33333%;}
.col-5{width:41.66667%;}
.col-6{width:50%;}
.col-7{width:58.33333%;}
.col-8{width:66.66667%;}
.col-9{width:75%;}
.col-10{width:83.33333%;}
.col-11{width:91.66667%;}
.col-12{width:100%;}

@media only screen and (max-width:320px){
	.col-xs-0,.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,
	.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{float:left;}
	.col-xs-12{width:100%;}
	.col-xs-11{width:91.66666666666666%;}
	.col-xs-10{width:83.33333333333334%;}
	.col-xs-9{width:75%;}
	.col-xs-8{width:66.66666666666666%;}
	.col-xs-7{width:58.333333333333336%;}
	.col-xs-6{width:50%;}
	.col-xs-5{width:41.66666666666667%;}
	.col-xs-4{width:33.33333333333333%;}
	.col-xs-3{width:25%;}
	.col-xs-2{width:16.666666666666664%;}
	.col-xs-1{width:8.333333333333332%;}
	.col-xs-0{width:0;display:none;}
}
@media only screen and (max-width:768px) and (max-width:991px){
	.col-sm-0,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,
	.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{float:left;}
	.col-sm-12{width:100%;}
	.col-sm-11{width:91.66666666666666%;}
	.col-sm-10{width:83.33333333333334%;}
	.col-sm-9{width:75%;}
	.col-sm-8{width:66.66666666666666%;}
	.col-sm-7{width:58.333333333333336%;}
	.col-sm-6{width:50%;}
	.col-sm-5{width:41.66666666666667%;}
	.col-sm-4{width:33.33333333333333%;}
	.col-sm-3{width:25%;}
	.col-sm-2{width:16.666666666666664%;}
	.col-sm-1{width:8.333333333333332%;}
	.col-sm-0{width:0;display:none;}
}
@media only screen and (min-width:992px) and (max-width:1199px){
	.col-md-0,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
	.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{float:left;}
	.col-md-12{width:100%;}
	.col-md-11{width:91.66666666666666%;}
	.col-md-10{width:83.33333333333334%;}
	.col-md-9{width:75%;}
	.col-md-8{width:66.66666666666666%;}
	.col-md-7{width:58.333333333333336%;}
	.col-md-6{width:50%;}
	.col-md-5{width:41.66666666666667%;}
	.col-md-4{width:33.33333333333333%;}
	.col-md-3{width:25%;}
	.col-md-2{width:16.666666666666664%;}
	.col-md-1{width:8.333333333333332%;}
	.col-md-0{width:0;display:none;}
}
@media only screen and (min-width:1200px){
	.col-lg-0,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
	.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{float:left;}
	.col-lg-12{width:100%;}
	.col-lg-11{width:91.66666666666666%;}
	.col-lg-10{width:83.33333333333334%;}
	.col-lg-9{width:75%;}
	.col-lg-8{width:66.66666666666666%;}
	.col-lg-7{width:58.333333333333336%;}
	.col-lg-6{width:50%;}
	.col-lg-5{width:41.66666666666667%;}
	.col-lg-4{width:33.33333333333333%;}
	.col-lg-3{width:25%;}
	.col-lg-2{width:16.666666666666664%;}
	.col-lg-1{width:8.333333333333332%;}
	.col-lg-0{width:0;display:none;}
}


/*h1-h6*/
h1,h2,h3,h4,h5,h6{font-weight:500;line-height:1.1;color:inherit;margin:0;padding:0;}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small{font-weight:normal;line-height:1;color:#999;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h1 small,h2 small,h3 small,h1 .small,h2 .small,h3 .small{font-size:75%;}
h4,h5,h6{margin-top:10px;margin-bottom:10px;}
h4 small,h5 small,h6 small,h4 .small,h5 .small,h6 .small{font-size:75%;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}



/*按钮*/
.button{font-size:14px;height:31px;line-height:1.42857;padding:4px 12px;}
a.button,span.button{line-height:21px;}
.button{border:solid 1px #3bb4f2;display:inline-block;box-sizing:border-box;cursor:pointer;text-align:center;font-weight:400;white-space:nowrap;vertical-align:middle;-moz-padding-start:npx;-moz-padding-end:npx;width:auto;*zoom:1;*overflow:visible;-webkit-transition:background-color .1s linear;-moz-transition:background-color .1s linear;-o-transition:background-color .1s linear;transition:background-color .1s linear;}
a.button:hover,a.button:focus,a.button:active,a.button.active,a.button.disabled,a.button[disabled]{text-decoration:none;}
.button:first-child{*margin-left:0;}
.button.active,.button:active{-moz-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset;-webkit-box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset;box-shadow:0 1px 8px rgba(0, 0, 0, 0.125) inset;}

.button{color:#fff;background-color:#3bb4f2;border-color:#3bb4f2;}
.button:hover,.button:focus,.button:active,.button.active{color:#fff;background-color:#0f9ae0;border-color:#0f9ae0;}

.button.disabled{cursor:not-allowed;background-image:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none;pointer-events:none;}


/*超链接*/
a{outline:none;text-decoration:none;cursor:pointer;}
a:link,a:visited,a:active{color:#0066cc;outline:none;}
a:hover{outline:none;color:#0066cc;text-decoration:underline;}
a:focus{outline:none;}
a:hover,a:active{outline:none;}:focus{outline:none;}


/*文本框 密码框 下拉框 文本域*/
input.text,input[type="text"],input[type="password"],select,textarea{padding:1px;box-sizing:border-box;border:solid 1px #c2c2c2;line-height:1.42857;
    -webkit-transition:all 0.2s linear 0s;
       -moz-transition:all 0.2s linear 0s;
         -o-transition:all 0.2s linear 0s;
            transition:all 0.2s linear 0s;}
input.text,input[type="text"],input[type="password"],select{height:24px;vertical-align:middle;line-height:1.42857;}
textarea{resize:none;padding:2px;}
input.text:hover,input[type="text"]:hover,input[type="password"]:hover,select:hover,textarea:hover{border:#0192d0 solid 1px;}
input.text:focus,input[type="text"]:focus,input[type="password"]:focus,select:focus,textarea:focus{border-color:rgba(82,168,236,0.8);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);}

/*disabled*/
input.text.disabled,input[type="text"].disabled,input[type="password"].disabled,select.disabled,textarea.disabled,
input.text.disabled:focus,input[type="text"].disabled:focus,input[type="password"].disabled:focus,select.disabled:focus,textarea.disabled:focus
.input-text.disabled,.textarea.disabled,.input-text.disabled.focus,.textarea.disabled.focus{background-color:#ededed; cursor:default;border-color:#ddd;
	-webkit-box-shadow:inset 0 2px 2px #e8e7e7;
       -moz-box-shadow:inset 0 2px 2px #e8e7e7;
            box-shadow:inset 0 2px 2px #e8e7e7;}

